@import '../../../src/Global.css';

.inventoryItem{
    font-size:0.8rem;
    justify-content: space-around;
    align-items: center;
}

.inventoryItemProperty{
    text-transform: uppercase;
    font-weight: bold;
}

.inventoryItemSelect{
    margin: 0 10px;
}

.inventoryItemSku{
    font-size: 0.9rem;
    text-transform: uppercase;
}

.inventoryItemName{
    font-weight: bold;
    text-transform: uppercase;
    padding: 0 0 0 20px;
}

.inventoryItemControlButton{
    margin: 2px;
}

.inventoryItemImage{
    width: auto;
    height: auto;
    max-width: 100px;
    max-height: 100px;
}

.inventoryItemControls{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    padding: 10px;
}

.inventoryItemDelete{
    cursor: pointer;
    padding: 0 20px;
}
.inventoryItem div{
    flex-grow: 0;
    flex-basis: 150px;
}

.inventoryProperty label{
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.8rem;
}

.categoriesList{
    list-style: none;
    font-size: inherit;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    white-space: nowrap;
    text-transform: uppercase;
}

.itemProperties ul{
    list-style: none;
    display: flex;
}

.itemProperties ul li{
    display: inline-block;
}

.even{
    background-color: #c5c5c5;
}