.categorySelection{
    padding: 4px;
    border: 1px solid #c5c5c5;
    margin: 10px 0;
}
.categoriesLabel{
    text-transform: uppercase;
    font-weight: bold;
}
.categoriesList{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style:none;
}
.categoriesList li{
    border-radius: 5px;
    padding: 0 10px 0 0;
    text-transform: uppercase;
}

.categoriesList li:nth-child(even){

}