@import '../../../src/Global.css';

.inventoryItem{
    padding: 5px 10px;
}

.inventoryItemControlButton{
    margin: 2px;
}

.inventoryItemImage{
    width: auto;
    height: auto;
    max-width: 50px;
    max-height: 50px;
}

.inventoryItem:nth-child(even) {
    background: #c5c5c5;
}

.inventoryItem div{
    flex-grow: 0;
    flex-basis: 150px;
}

.inventoryProperty label{
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.8rem;
}

.categoriesList{
    list-style: none;
    padding: 0;
    margin: 0;
}


.categoriesList li:nth-child(even){
    background-color: inherit;
}

.category{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    white-space: nowrap;
    padding: 0;
    margin: 0;
    text-transform: uppercase;
}

.itemProperties ul{
    list-style: none;
    display: flex;
}

.itemProperties ul li{
    display: inline-block;
}

.even{
    background-color: #c5c5c5;
}