@import '../../../src/Global.css';

.overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    background: color(var(--blocker) a(80%));
}
.modal{
    background-color: white;
    padding: 40px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.button{
    display: inline-block;
    min-width: 50px;
    margin: 20px 20px 0 20px;
}
.inventoryControls{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.inventoryPrompt{
    margin: 40px 0;
}
.inventory_list{
    margin: 10px 0 0 0;
}
.inventoryNav{
    display: flex;
    justify-content: flex-end;
}
.itemTable{
    margin: 10px 0 0 0;
}
