@import "../../../src/Global.css";

.imageOverlay {
    height: 100%;
    overflow:hidden;
}

.imagesList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    align-items: center;
    justify-content: space-around;
    overflow: hidden;
    padding: 0;
    margin: 0;
    overflow-y: scroll;
    border: 1px solid darkgray;
    height: calc(80vh - 104px);
}

.imagesListOpen {
    max-height: calc(80vh - 212px);
}
