@import "../../src/Global.css";

.content {
    margin: 0 auto;
    width: 100%;
    max-width: 1024px;
    font-size:1rem !important;
}
@media screen and (max-width: 1024px){
    .content{
        width: auto;
    }
}
