nav {
    align-items: center;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

nav a {
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
}
nav a:not(:last-of-type){
    margin: 0 10px 0 0;
}