@import '../../src/Global.css';
.saveNav{
    margin: 10px 0 0 0;
    display: flex;
    justify-content: space-between;
}
.saveNav input, button:not(:first-child){
    margin: 0 0 0 10px;
}
.selectCount{
    text-transform: uppercase;
    font-size: 0.8rem;
}