@import '../../src/Global.css';

.xlxsUpload{
    position: relative;
}
.button__upload{
    margin: 10px auto 0 auto;
}
.uploadFormContainer{
    height: auto;
    overflow:hidden;
    text-align: center;
    border: 2px dashed transparent;
    outline-offset: -10px;
}
.uploadForm{
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
    -webkit-transition: max-height 0.5s;
    -moz-transition: max-height 0.5s;
    transition: max-height 0.5s;
}
.uploadFormOpen{
    max-height: 999px;
    padding: 10px;
    margin: 0 0 20px 0;
    -webkit-transition: max-height 0.5s;
    -moz-transition: max-height 0.5s;
    transition: max-height 0.5s;
    border: 2px dashed color(var(--gray));
    outline-offset: -10px;
}
.buttonOpenUpload{
    position: absolute;
    right: 0px;
    top: -40px;
}
.dragOver{
    background: color(var(--gray) a(25%));
    border: 2px dashed color(var(--gray));
}
.chooseFiles strong{
    cursor: pointer;
}
.uploadLimit{
    font-size: 0.75rem;
    color: color(var(--gray));
    font-weight: bold;
    text-transform: uppercase;
}
.status{
    font-size: 0.8rem;
    margin: 10px 0 0 0;
}