@import '../Global.css';

.overlaySection{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.95);
    display: flex;
    justify-content: center;
    align-items: center;
}
.overlayContent{
    background: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items:flex-end;
}
@media screen and (max-width: 1024px) {

    .content {
        margin: 80px 16px 40px 16px;
    }

}