@import '../Global.css';

.scrollToTop{
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 50;
}
@media screen and (max-width: 1024px) {

    .content {
        margin: 80px 16px 40px 16px;
    }

}