@import '../../../src/Global.css';

.itemImageWrapper{
    width: 23%;
    padding: 1%;
    position: relative;
}
.itemImage{
    width: 100%;
    height: auto;
    opacity: .8;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
    cursor:pointer;
}
.itemImage:hover{
    opacity: 1;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
}
.selectedImage{
    border: 1px solid darkgray;
    box-shadow: 4px 4px 5px darkgray;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.selectedImageMarker{
    width: 20px;
    height:20px;
    position: absolute;
    top: 20px;
    right: 20px;
}
@media screen and (max-width:1024px){
    .itemImageWrapper{
        width: 31%;
        padding: 1%;
    }
}
@media screen and (max-width:600px){
    .itemImageWrapper{
        width: 48%;
        padding: 1%;
    }
}