@import "../../../src/Global.css";

.category{
    padding: 5px 10px;
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-between;
}
button{
    text-transform: uppercase;
    font-weight: bold;
}

.button{
    cursor:pointer;
    border: none;
    color: color(var(--white));
    border-radius:5px;
    padding: 4px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.1rem;
    margin: 0 0 0 10px;
}

.buttonDelete{
    background-color: color(var(--red));
}
.buttonEdit{
    background-color: color(var(--green));
}
.buttonSave{
    background-color: color(var(--blue));
}
.buttonCancel{
    background-color: color(var(--cancel));
}
.even{
    background-color: color(var(--gray));
}