.category{
    padding: 5px 10px;
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-between;
}
button{
    text-transform: uppercase;
    font-weight: bold;
}

.button{
    cursor:pointer;
    border: none;
    color: white;
    border-radius:5px;
    padding: 4px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.1rem;
    margin: 0 0 0 10px;
}

.buttonDelete{
    background-color: red;
}
.buttonEdit{
    background-color: darkgreen;
}
.buttonSave{
    background-color: blue;
}
.buttonCancel{
    background-color: darkslategray;
}
.even{
    background-color: #c5c5c5;
}