body,html{
    margin: 0;
    padding: 0;
}
*, html, body, h1, h2, h3, h4 {
    font-family: 'Raleway', sans-serif;
}

a{
    color: red;
}

.align__right{
    text-align: right;
    justify-content: flex-end;
}

.float__right{
    float: right;
}

.blocker{
    z-index: 150;
    background-color: rgba(0,0,0,0.95);
    color: white;
    position: fixed;
    top: 0;
    width: 100%;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    font-weight: bold;
    text-transform: uppercase;
}
.busyMessage{
    font-size: 0.8rem;
    opacity: 0.8;
}

.button{
    cursor:pointer;
    border: none;
    color: white;
    font-weight: bold;
    border-radius:5px;
    padding: 4px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.1rem;
    margin: 0 0 0 10px;
    text-transform: uppercase;
}

.button__delete{
    background-color: red;
}
.button__edit{
    background-color: darkgreen;
}
.button__save{
    background-color: blue;
}
.button__cancel{
    background-color: darkslategray;
}
.button__category{
    text-transform: uppercase;
}
.button__group{
    display: inline;
    width: 40%;
}
.button__disabled{
    opacity: 0.5;
    cursor: default;
    pointer-events: none;
}

.error__input{
    border: 1px solid red;
}
.error__message{
    color: red;
    font-size: 0.8rem;
    text-transform: uppercase;
    font-weight: 700;
}

.generic__error{
    color: red;
    font-weight: 700;
    text-transform: uppercase;
}
.hidden{
    display: none;
}

.table{
    display: table;
    width: 100%;
}
.table_row{
    display: table-row;
}
.table_header{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.8rem;
    background-color: darkgray;
    color: white;
}
.table_header a{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.8rem;
    background-color: darkgray;
    color: white;
    text-decoration: none;
}
.table_cell{
    display: table-cell;
    padding: 4px 8px;
    vertical-align: middle;
}

@media screen and (max-width: 1024px) {

    .content {
        margin: 0 16px;
    }

}