body,html{
    margin: 0;
    padding: 0;
}

*, html, body, h1, h2, h3, h4 {
    font-family: 'Raleway', sans-serif;
}

a{
    color: red;
}
.align__right{
    text-align: right;
    justify-content: flex-end;
}

.float__right{
    float: right;
}

.blocker{
    z-index: 150;
    background-color: rgba(0,0,0,0.95);
    color: white;
    position: fixed;
    top: 0;
    width: 100%;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    font-weight: bold;
    text-transform: uppercase;
}
.busyMessage{
    font-size: 0.8rem;
    opacity: 0.8;
}

.button{
    cursor:pointer;
    border: none;
    color: white;
    font-weight: bold;
    border-radius:5px;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 1.1rem;
    text-transform: uppercase;
    line-height: normal;
}
.button__addItem{
    display: inline-block;
    background: darkgreen;
}
.button__close{
    background-color: red;
}
.button__delete{
    background-color: red;
}
.button__edit{
    background-color: darkgreen;
}
.button__image{
    display: inline-block;
}
.button__save{
    background-color: blue;
}
.button__cancel{
    background-color: darkslategray;
}
.button__category{
    text-transform: uppercase;
}
.button__group{
    display: inline;
    width: 40%;
}
.button__disabled{
    opacity: 0.5;
    cursor: default;
    pointer-events: none;
}

.error__input{
    border: 1px solid red;
}
.error__message{
    color: red;
    font-size: 0.8rem;
    text-transform: uppercase;
    font-weight: 700;
}

.generic__error{
    color: red;
    font-weight: 700;
    text-transform: uppercase;
}

.hidden{
    display: none !important;
}

.flexBox{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    justify-content: space-between;
    border-bottom: 1px solid #cccccc;
}

.flexBoxHeader{
    background: darkgray;
}

.flexItem{
    padding: 5px 10px;
    border: 1px solid red;
    flex-basis: 150px;
    flex-grow:0;
    align-items: center;
    justify-content: center;
}

.asRow {
    flex-direction: row !important;
    align-items: flex-start;
}

.asColumn {
    flex-direction: column;
}

.uppercase{
    text-transform: uppercase;
}

/* OVERLAYS */

.overlaySection{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.95);
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlayContent{
    background: white;
    padding: 20px;
    border-radius: 10px;
    height: 100%;
    max-height: 65vh;
}

@media screen and (max-width: 1024px) {
    .content section{
        padding: 0 20px;
    }

}