@import "../Global.css";

.formItems{
    list-style:none;
    padding: 0;
    width: 80vw;
    max-width: 400px;
}

.formItems label{
    text-transform: uppercase;
    font-weight: 700;
}

.formSubmit{
    margin: 20px 0 0;
    text-transform: uppercase;
    padding: 5px;
    font-weight: bold !important;
    width: 80vw;
    max-width: 200px;
}

.formItems li{
    display: flex;
    flex-direction: column;
}

.categoryList{
    border: 0;
}
.as__row{
    flex-direction: row !important;
}

.button__group{
    display: inline-block !important;
    width: auto !important;
    padding: 4px 6px;
    margin: 10px 0 0 10px;
}

@media (max-width: 1024px){
    .formItems{
        margin: 0 auto;
    }
}